@import '../_variables.scss';

.App {
  text-align: center;
  width: 100%;
  margin: 10px auto;

  h1 {
    border-bottom: 4px solid $primary-color;
    padding-bottom: 4px;
    display: inline-block;
    @media (min-width: $desktop-width) {
      padding-bottom: 8px;
      border-bottom-width: 8px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 80%;
    margin: 15px auto;
  }

  @media (min-width: $desktop-width) {
    width: 45%;
    max-width: 1200px;
    margin: 20px auto;
  }
}
