@import '../variables.scss';

.ProductStats {
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.25em;
  line-height: 2;
  h3 {
    text-align: center;
    display: block;
    border-bottom: 2px solid $primary-color;
    letter-spacing: 3px;
    font-size: 2em;
  }
  &Label {
    display: inline-block;
    width: 49%;
    color: darken($white-color, 25%);
  }
  &Value {
    display: inline-block;
    width: 50%;
    color: $primary-color;
    font-size: 1.25em;
    text-align: right;
  }
  @media (min-width: $tablet-width) {
    font-size: 0.875em;
    line-height: 1.5;
  }
  @media (min-width: $desktop-width) {
    font-size: 1em;
  }
}
